/*variables*/
:root {
    --primary: #FFC636;
    --secondary: #0A0B5B;
    --thirty:#222;
    --litli-white:rgba(255,255,255,0.05);
    --litle-black:rgba(0, 0, 0, 0.6);
    --gray:#9893D8;
    --claire: #f2f2f2;
}

/*reset*/
body,p,a,ul,li{
    margin: 0;
    padding: 0;
    text-decoration: none;}

li{
    list-style-type: none;
}

/*base styles*/
body{
    background-color: var(--secondary);
    overflow-x: hidden;
}

.button{
    background: none;
    border: 2px solid var(--primary);
    color:var(--primary);
    padding:20px 12ox;
    border-radius: 20px;
    text-transform: uppercase;
    box-shadow: 1px 2px 3px var(--litle-black);
    cursor: pointer;
    display: inline-block;
}

.button:hover{
    color:var(--thirty);
    background-color: var(--primary);
}

input,textarea{
    background-color:var(--litli-white);
    padding: 10px 16px;
    border-radius: 20px;
    border: 2px solid var(--gray);
    color:var(--claire);
}

/*fonts*/

/*mobile styles*/

/*samll tablet styles*/
@media screen and (min-width: 620px){

}

/*large tablets & laptops styles*/
@media screen and (min-width: 960px) {

}

/*desctop styles*/
@media screen and (min-width: 1200px) {

}